/* Estilos para telas maiores (dispositivos desktop) */
.header-global {
  max-width: 100%;
  max-height: 25vh;
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  padding: 1%; 
  margin: 1% 6%;
}

.header {
  display: flex;
  width: 100%;
  max-height: 25vh;
  overflow: hidden; /* faz a imagem não aumentar a altura se o width for aumentado */
  position: relative;
}

.img-header-1 {
  flex: 1; /* Ocupa todo o espaço disponível no contêiner .header */
}

.img-header-logo {
  width: 15%;
  height: 10vh;
  position: absolute;
  top: 30%; /* Ajuste a posição vertical da logo */
  left: 8%; /* Ajuste a posição horizontal da logo */
}

.img-header-bolinhas {
  width: 4%;
  position: absolute;
  top: 70%;
  left: 35%;
}

.img-header-seta {
  width: 6%;
  position: absolute;
  top: 20%;
  left: 40%;
}

.img-header-mulher {
  width: 13%;
  position: absolute;
  top: 11%;
  left: 55%;
}

.img-header-bolona {
  width: 20%;
  position: absolute;
  top: 12%;
  left: -6%;
}

.img-header-zigzag {
  width: 8%;
  position: absolute;
  top: 85%;
  left: 83%;
}

.img-header-triangle {
  width: 2%;
  position: absolute;
  top: 7%;
  left: 90%;
}

.paragrafo-header {
  position: absolute;
  top: 10%;
  left: 81%;
  color: white;
}

.paragrafo-header-2 {
  position: absolute;
  top: 55%;
  left: 84%;
  color: white;
}



